@charset "utf-8";
/*
 * Page name
 * Copyright 2020
 * Author
 * Licensed
 */
/* -------------------------- *\
	Content
\* -------------------------- */
/**
 * Content ............ You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ............ Set component styles
 * Utility ............ Set some tools style
 */

/* -------------------------- *\
	Globel
\* -------------------------- */
*{
	box-sizing: border-box;
	position: relative;
}
html,body{
	font-family: '微軟正黑體', arial;
	height: 100%;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}


/* -------------------------- *\
	Layout
\* -------------------------- */
/* grid system */
.container{
	max-width: 1140px;
	width: 100%;
	/* border: 1px solid #000; */
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}

.wrapper{
	height: 100%;
	background-color: #a9d0e2;
}

.login_area{
	border: 2px solid #fff;
    border-radius: 4px;
	background-color: #b8bcf1;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.h1{
	text-align: center;
	font-weight: 600;
	font-size: 60px;
	white-space: nowrap;
	color: #3e1abe;

	margin-top: 24px;
}

@media screen and (max-width: 768px){
	.login_area .h1{
		font-size: 40px;
	}
	
}
@media screen and (max-width: 540px){
	.login_area .h1{
		font-size: 30px;
	}
	
}

.account_info{
	/* padding-top: 32px; */
	display: flex;
}

/*name*/
.account_area{
	margin: auto;
	padding-top: 32px;
}

.account_name{
	display: inline-block;
	color: #2d138a;
}

.account_input{
	display: inline-block;
}

/*password*/
.password_area{
	margin: auto;
	padding-top: 32px;
}

.password_name{
	display: inline-block;
	color: #2d138a;
}

.password_input{
	display: inline-block;
}


/* btn */
.btn{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 24px;
	padding: 4px 16px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 4px;
	transition: all 0.3s;
}

/* 主要的按鈕 */
.btn.btn-primary{
	background-color: #314eaa;
	border: 1px solid #314eaa;
	color: #fff;
}
.btn.btn-primary:hover{
	background-color: #7690e6;
	border: 1px solid #7690e6;
}
/* 次要的按鈕 */
.btn.btn-secondary{
	border: 1px solid #314eaa;
	color: #314eaa;
}
.btn.btn-secondary:hover{
	background-color: #7690e6;
	color: #fff;
}
/* 大小的設定 */
.btn.btn-lg{
	padding: 8px 32px;
}
.button_area{
	/*border: 1px solid #fff;*/
	text-align: center;
	margin: auto;
	padding-top: 32px;
}
.button_area .btn{
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 24px;
}
@media screen and (max-width: 540px){
	.button_area{
		display: flex;
		flex-direction: column;
		width: 240px;
		margin: 0 auto;
	}
	.button_area .btn{
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 24px;
	}
	.button_area .btn:last-child{
		margin-bottom: 0;
	}
}

/* utility */
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}