<!DOCTYPE html>
<html lang="zh-TW" ng-app="myApp">

<head> 
	<meta charset="UTF-8">
	<title>訂購系統 Order System</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="icon" type="image/x-icon" href="https://ruru-wen519.github.io/favicon.ico">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<link rel="stylesheet" href="css/index.css">
	<script src="order_system.js"></script>
</head>

<body>
	<div class="wrapper" ng-controller="MyCtrl">
		<!-- <div class="container">
				
			</div> -->
		<div class="login_area">
			<div class="container">
				<div class="h1">訂購系統 Order System</div>
				<div class="account_info">
					<div class="account_area">
						<div class="account_name">帳號：</div>
						<input class="account_input"id="account"></input>
					</div>
				</div>
				<div class="account_info">
					<div class="password_area">
						<div class="password_name">密碼：</div>
						<input class="password_input" id="password" ></input>
					</div>
				</div>

				<div class="account_info">
					<div class="button_area">
						<div class="btn-group-center">
							<button class="btn btn-primary btn-lg" ng-click="login(account_input,password_input)">登入</button>
							<button class="btn btn-secondary btn-lg" ng-click="sayHello()">註冊</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div id="result"></div> -->
	</div>


	<!-- Start main -->
	<section class="main">


	</section>
	</div>
</body>

</html>